.SearchFeedGrid {
    padding: 10px;
}

.SearchFeedGridLink {
    max-width: 20%;
    min-width: 20%;
    height: inherit !important;
}

.SearchFeedGridTile {
    width: 100%;
    height: 100%;
}

.SearchFeedVideoImg {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}